@charset "utf-8";
/* CSS Document */

/*.#lesPions div, #libre, */
#page1, #page2{
	text-align:center;
	font-size: small;
}

#page1{
	background:#000;
}

#page2{
	background-image:url(images/fond.png);
}

#page1{
	/* background-image:linear-gradient(to bottom, #111, black);*//* -webkit-linear-gradient(to right, white, black);*/
	/*background:#000;*/
	 vertical-align:middle;	

}
#page3{
/*		background-repeat:no-repeat;
	 background-position:center center;	 */
 }
#page3, #page4{
	 background-image:url(images/fond.png);
	 
}
#logo{
	position:relative;
    overflow:hidden;
    float:none;
}
.unPion{
	border-radius: 20px;
	/*width:60px;
	height:60px;*/
	border:1px solid rgba(9, 9, 9, 0.7);	
}
.reflet{
	background:#333;
	width:20px;
	height:20px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	border-width:2px;
  	border-style:solid;
 	border-color:#ccc;
}
#minuterie, #coups{
	
	color:#f00;
}
#libre{
	background:#333;
	border-radius:5px;
	margin-left:5%;
	margin-right:5%;
	height:5px;
	/*border:1px solid #021;
	text-align:center;
	text-shadow:#999;*/
}

#coups, #minuterie{
	text-align:center;
}


#msgSeul{
	background-color: rgba(9, 9, 9, 0.7);
	border-radius:5px;
	margin-bottom:5px;
	margin-top:5px;
	border-width:1px;
	border-style:solid;
	border-color:rgba(9, 9, 9, 0);
}

#cadremsgSeul{
	width:90%;
	margin-left:auto;
	margin-right:auto;	
	height:50px;
}

#msgBas{
	height:30px;
	margin-top:5px;
}

#msg{

vertical-align:middle;
	text-align:left;	
	height:20px;
	margin-top: 10px;
	
	margin-left:5px;
	width:75%;
}

.coteBlanc, .unCube{
	background:#000;
	/*border:1px solid #fff;*/
	/*opacity: 0.8;*/
	background-repeat:no-repeat;
	background-position:center center;
	
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
  	margin-right: auto;
	
		border-width:2px;
  	border-style:solid;
 	 border-color:#777;

	/*box-shadow : 10px 10px 5px #fff;*/
}



#barreBas{
	visibility:hidden;
}

div>.ui-block-a, div>.ui-block-b, div>.ui-block-c{
/*border-width:1px;
  	border-style:solid;
 	 border-color:#7e7e7e;
*/

}

#leDe{
	background:#ddd;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*visibility:hidden;*/
	width:50px;
	border-width:3px;
  	border-style:solid;
 	 border-color:#7e7e7e;
	/*margin-bottom: auto;
	
  	margin-right: auto;*/
	margin-left: 10px;
}


.leCentre{
/* border-width:1px;
  border-style:solid;
  border-color:#ff9900;*/
	/*line-height:100%;*/
margin:0;
padding:0px;
	


	 /*margin: 0 auto;*/
}
#lesCubes {
 /*border-width:1px;
  border-style:solid;
  border-color:#ff9900;*/
	margin-left: auto;
  	margin-right: auto;
	padding:0px;
}
.leCentre, #lesCubes div{

	padding:0;
	margin:0;
	/**
	margin-top:auto;
	margin-bottom:auto;
	
	 vertical-align:bottom;
	 */
	 	text-align:center;
	 	  /* border-width:1px;
  border-style:solid;
  border-color:#ff9900;*/
}

#lesCubes div{
/*padding:1%;
	margin:2%;*/
}

#btRetourne{
	width:100%;
	

}

#btPlay{
	 vertical-align:bottom;
}


div{
	background-color: rgba(0, 0, 0, 0);	
}

.message{
		
}

#textDiv { position:absolute; 
/*top:8; 
right:8; border-style:solid; border-width:thin; background:lightgrey;*/
}


